* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  display: flex;
  height: 100vh;
  background: #f5f9ff;
}

/* LEFT PANEL */
.auth-left {
  width: 45%;
  padding: 80px;
  color: white;
  background: linear-gradient(135deg, #1e4ed8, #2563eb);
  border-radius: 0 40px 40px 0;
}

.auth-left h1 {
  font-size: 42px;
  margin-top: 40px;
}

.auth-left p {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.9;
}

.icon-box {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

/* RIGHT PANEL */
.auth-right {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.auth-card {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.auth-card h2 {
  margin-bottom: 6px;
}

.subtitle {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.row {
  display: flex;
  gap: 10px;
}

/* BUTTON */
.primary-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.primary-btn:hover {
  background: #1e4ed8;
}

.bottom-text {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
}

.bottom-text span {
  color: #2563eb;
  cursor: pointer;
}
.auth-card textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  resize: none;
}
